@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap");

body {
  font-family: "Signika Negative", sans-serif;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


section {
  padding: 18px 15%;
  
  /* background-color: #007bff; */
}


.youtube{
  width: 100%;
  height: 120vh;
  
  display: none;
}


.regitration {
  display: flex;
}
.regitration .allbtn button {
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgb(176, 205, 176);
  font-size: 16px;
  cursor: pointer;
}
.regitration .allbtn button:hover {
  background-color: rgb(48, 146, 85);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.content {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  /* align-items: center; */
}
.right-content {
  max-width: 300px;
  align-items: end;
  width: 100%;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.right-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: rgba( 113, 255, 134, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.left-content {
  margin-right: 10px;
  margin-top: 70px;
}
.left-content > h4 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 25px;
}
.left-content > p {
  font-size: 35px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 20px;
}
.left-content > h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 25px;
}
.coursebtn > button {
  padding: 20px 35px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(48, 146, 85);
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
}

/* popuiral courses */



/* courses */

.courses {
  
margin-top: 100px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
 
}
.courses .subcat {
display: flex;
  gap: 16px;
  overflow-x: scroll;
}
.subcat::-webkit-scrollbar{

  height: 0;
}

.courses .category {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  */
  /* background-color: rgb(214, 241, 223); */
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search {
  /* display: none; */
  max-width: 100%;
  min-width: 250px;
  width: 100%;
  height: 50px;
  position: relative;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
 
}
::placeholder {
  font-size: 20px;
}
.search input {
  /* display: none; */
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.search > button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  border-radius: 0 10px 10px 0;
  border: none;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  background-color: #11e811;
  color: #1f1f1f;
  font-size: 17px;
  cursor: pointer;
}
.cat {
  background-color: rgb(255, 255, 255);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 22px;
  width: fit-content;

word-wrap:break-word;
}
.cat.active{
  background-color: #11e811;
  color: rgb(19, 19, 63);
}

/* course display */

/* coursedisplau */
.cour-best-seller{
 width: 100%;
 
}
.coursedisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 30px;
  
}

.card-course {
  width: 100%;
  height: 450.86px;
  /* height: 45%; */
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
}
.card-course .image-container img:hover {
  transform: scale(1.1);
 
}
.card-course .image-container {
  overflow: hidden;
  height: 256px;
  width: 100%;
  border-radius: 10px 10px 0px 0;
  -webkit-border-radius: 10px 10px 0px 0;
  -moz-border-radius: 10px 10px 0px 0;
  -ms-border-radius: 10px 10px 0px 0;
  -o-border-radius: 10px 10px 0px 0;
}
.card-course .image-container img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  cursor: pointer;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.description {
  text-align: center;
  font-size: 25px;
  margin: 16px 5px;
}

.horizontal {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  /* background-color: #007bff; */
  display: flex;
  justify-content: center;
  align-items: self-start;
  margin: 0px 10px 20px 30px;
  font-size: 18px;
}

.start-time i,
.lessons i,
.enroll i {
  margin-right: 5px;
  color: rgb(50, 45, 45);
}

.lessons {
  margin: 0 5px;
}

@-webkit-keyframes rotateInDownRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
  @keyframes rotateInDownRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
h5{
  color: rgb(5, 143, 136);
  margin-left: 10px;
}
h4,h5{
  /* background-color: #ccc; */
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;

}

.hide{
  display: none;
}


.bars {
  display: none;
}
.bars i {
  font-size: 25px;
  color: rgb(5, 143, 136);
}

/* @media (min-width: 768px) {




} */

@media screen and (min-width:768px) and (max-width:1024px){

  .coursedisplay {
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    width: 98%;
    margin: 0px auto;
    /* padding: 30px; */
   
  }
  .cardss-course {
    
    max-width: 350px;
    height: 450.86px;
   
    /* height: 45%; */
    
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
  }
  /* .card-course .image-container{
    width: 284px;
  } */
}