


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", serif;
  overflow-x: hidden;
  
  background-color: #f3f4f6;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}


.video {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
 
}
.video h5{
  font-size: 16px;
  font-weight: 400;
  color: #09090b;
  line-height: 24px;
}

.video:hover {
  background-color: #f5f5f5;
}



.content {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background-image: url('https://dugsiiye.com/_next/image?url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F4939658%2Fpexels-photo-4939658.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D2%26w%3D500&w=1080&q=75');
background-repeat: no-repeat;
background-position: center;
background-size: cover;


  /* align-items: center; */
}


.right-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: rgba( 113, 255, 134, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.left-content {
  margin-right: 10px;
  margin-top: 70px;
  
}

.overlay{
  background: rgba(0, 0, 0, 0.8);
  width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.left-content > h4 {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  margin-bottom: 25px;
}
.left-content > p {
  font-size: 35px;
  text-transform: capitalize;
  color: #11e811;
  margin-bottom: 20px;
}
.left-content > h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: rgb(48, 146, 85);
  margin-bottom: 25px;
}
.coursebtn > button {
  padding: 20px 35px;
  margin-left: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(48, 146, 85);
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
}

/* popuiral courses */

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

footer > p {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

/* courses */

.coursesdetail {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 25px;
  padding: 20px;
}
.left-Description .image-container {
  position: relative;
}
.left-Description .image-container img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.title{
  display: flex;
 
}
.title >i{
  margin-right: 10px;
  font-size: 25px;
  color: #11e811;
 
}
.description{
  color: #6c757d;
}
.title .description{
  margin-left: 10px;
}
.titleplay{
  padding: 10px 5px;
  font-size: 20px;
}
.right-description .card {
  width: 421px;
  background-color: white;
  padding: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  max-height: 600px;
  overflow-y: scroll;

}
.image{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.image img{
    width: 150px;
}


@-webkit-keyframes rotateInDownRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
  @keyframes rotateInDownRight {
  0% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  opacity: 0;
  }
  100% {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
  }
h5{
  color: black;
  margin-left: 10px;
}
h4,h5{
  /* background-color: #ccc; */
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;

}

.hide{
  display: none;
}


.bars {
  display: none;
}
.bars i {
  font-size: 25px; 
  color: #11e811;
}


@media (max-width:768px) {
  main{
 
    position: relative;
    top: -400px;
  }

  .right-description .card {
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    max-height: 600px;
    overflow-y: scroll;
  
  }
  .coursesdetail {
    
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }
  .footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
    
  }
  .footer-contents{
    width: 100%;
    margin: 0;
    position: relative;
    bottom: 0;
    margin-top: 200px;
  }
  
}

@media screen and (min-width: 769px) and (max-width:1200px){
  main{
 
    position: relative;
    top: -400px;
  }

  .right-description .card {
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    max-height: 600px;
    overflow-y: scroll;
  
  }
  .coursesdetail {
 
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }
  .video {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
   
  }
  .video h5{
    font-size: 16px;
    font-weight: 400;
    color: #09090b;
    line-height: 24px;
  }
  
  .video:hover {
    background-color: #f5f5f5;
  }
  
}