*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  }

  body{
    background-color: #f3f4f6;
  }



  
  .auth-container {

    /* background-color: rgba(0, 0, 0, 0.75); */
    display: flex;
    flex-direction: column;
    gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
/* border: 4px solid #bbbbbb; */
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 534.84px;
    /* width: 100%; */
    height: 100%;
    color: white;
    background-color: #FFFFFF;
  }

  #form-title{
    color: #1e8111;
    /* background-color: #c0bdbd; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
    /* box-shadow: inset 7.21px 7.21px 15px #D9DADE, inset -7.21px -7.21px 15px #70d970; */
    padding: 10px;
    border-radius: 5px;
  }
  
  .auth-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-container input {
    width: 454.81px;
    height: 49.78px;
    display: block;
    padding: 12px;
    margin: 10px 0;
    background: white;
    border: 2px solid #f4f4f4;
    /* box-shadow: inset 7.21px 7.21px 15px #D9DADE, inset -7.21px -7.21px 15px #FFFFFF; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
    color: #1f1f1f;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  
  }
  /* input:hover{
  outline: 1px solid rgb(158, 158, 158);
  } */
  .auth-container button {
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 454.81px;
    height: 49.78px;
    padding: 12px;
    background-color: #11e811;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color:white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .auth-container p {
    text-align: center;
    margin-top: 10px;
  }
  
  .auth-container a {
    color:  #1e8111;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }

#authSwitch{
  color: #1f1f1f;
 
  cursor: pointer;
  font-weight: 600;
  
}

#authSwitch a{
  color: #c20808;
  cursor: pointer;
  font-weight: 600;
  
}



@media (max-width: 768px) {
  header {
    top: 0;
 
  }

  .auth-container {

  
   
    width: 80%;
    margin: a auto;
    height: 100%;
   
  }
  .auth-container form{
    width: 100%;
  }
  .auth-container input {
    width: 100%;
    
  
  }
  .auth-container button {
    
    width: 100%;
    
  }

  





}

@media screen and (min-width: 768px) and (max-width:1200px){
  .auth-container {

    /* background-color: rgba(0, 0, 0, 0.75); */
    display: flex;
    flex-direction: column;
    gap: 20px;
  align-items: center;
  margin: 0 auto;
  margin-top: 200px;
/* border: 4px solid #bbbbbb; */
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 534.84px;
    /* width: 100%; */
    height: 100%;
    color: white;
    background-color: #FFFFFF;
  }

  .auth-container form{
    width: 100%;
  }
  .auth-container input {
    width: 100%;
    
  
  }
  .auth-container button {
    
    width: 100%;
    
  }
}