*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  
  body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #1f1f1f;
  
    /* background-color: black;
      color: white;  */
  }
  .container {
    width: 1280px;
  }
  

  
header {
  background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 111;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.desktop-menu{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  position: fixed;

  top: 0;

  z-index: 1;
  
}
.mobile-menu{
  display: none;
}

.navbar {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  color: #1f1f1f;
  font-size: 1rem;
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
}

ul li a:hover {
  color: #1f1f1f;
  font-size: 1rem;
  text-decoration: none;
  padding: 20px;
}



a{
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
.user-dash{
  display: none;
  color: black;
  font-size: 16px;
  font-weight: 32px;
  cursor: pointer;
}

.signIn {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signIn:hover {
  color: #11e811;
  font-weight: bold;
}

.signUp {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #11e811;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.Logout {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #11e811;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.signUp:hover {
  background-color: #75ee75;
}
.contents {
  position: relative;
  top: 70px;
}


.ordercontent{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
 
  height: 100%;
  padding: 20px;

}

.logo{
  position: relative;
 top: 0px;
 height: 100%;
 max-width: 300px;
}


.logo img{

  height: 100%;
}
.ordercards{
 
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.orderdetails h4{
  /* text-align: center; */
  font-size: 32px;
  font-weight: 700;
  color: #11e811;

}
.orderdetails h6{
  /* text-align: center; */
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.orderdetails{
  position: relative;
  left: 0;
  top: 100px;

 
 
}
.storeCourse{
 
 margin-top: 30px;
  width: 300px;
  height: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  
}



.store-details{
  padding: 20px;
}

#storebtn{
  margin-top: 20px;
  text-decoration: none;
  color: #1f1f1f;
  background-color: #11e811;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.storeImg{
  width: 300px;
  height: 300px;
}

.ordercard img{
  width: 300px;
  height: 200px;
}

.dashboard{
    position: fixed;
    top:91px;
    display: flex;
  flex-direction: column;
    height: 100vh;
    width: 20%;
    padding-top: 40px;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
    background-color: white;

 
  }

  

 .dashboard ul li{
   
  list-style: none;
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
  width: 90%;
  border-radius: 5px;
 
 }


 .dashboard ul li a{
  
    text-decoration: none;
    color: #1f1f1f;
    cursor: pointer;
 }

  .dashDisplay{
      position: absolute;
     
      left: 350px;
      display: flex;
      flex-direction: column;
      gap: 70vh;
      padding: 10px;
      width: 75%;
    
      
  }





  
.cour-best-seller {
  padding: 20px;
  width: 100%;
  height: 1205px;
  /* margin-top: 100px; */
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: black; */
  align-items: center;
  
}

.tit-cou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.tit-cou h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #11e811;
}
.tit-cou h1 {
  font-size: 32px;

  font-weight: 40px;
  font-weight: 800;
}
.tit-cou p {
  font-size: 20px;

  line-height: 32px;
  font-weight: 400;
}

.cour-boxses {
  
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.box-cou {
  width: 350px;
  height: 450.86px;
  /* height: 45%; */
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box-cou img {
  width: 100%;
  height: 256px;
  border: none;
  border-radius: 10px 10px 0px 0px;
}
.box-cou-texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 10px;
}

.categ-cour {
  /* width: 114.5px;
        height: 24px; */
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  background-color: #11e811;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.t-c {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.lacgta {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: 11e811;
}



.footer-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  padding: 50px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #807f7f;
  color: white;
}

.footer-contents ul {
  display: flex;
  gap: 20px;
}

.footer-contents ul li {
  list-style-type: none;

  text-decoration: none;
}

.footer-contents ul li a {
  color: #d6d1d1;
}

.footer-contents ul li a:hover {
  font-weight: bold;
}


  
/* Styling for the My Account and Quick Help Sections */
.orderdetails {
  background-color: #11e811;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-top: 20px;
}

/* Header Styling */
.orderdetails h4 {
  width: 100%;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  /* text-align: center; */
  border-bottom: 2px solid #4CAF50;
  display: inline-block;
  padding-bottom: 5px;
}

/* Subheading */
.orderdetails h6 {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

/* WhatsApp Contact Section Styling */
.whatsapp-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;

}

.user-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.table-student{
  width: 100%;
}
.user-info .user-valu-disp{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
table{
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
table,th,td{
  border-bottom: 1px solid black;
  border-collapse: collapse;

}
thead{
  background-color: #11e811;
}
td,th{
  text-align: start;
  padding: 10px;
}
th{
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}
tbody{
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.whatsapp-contact p {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.whatsapp-contact img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.whatsapp-contact img:hover {
  transform: scale(1.1);
}

.whatsapp-contact a {
  
  text-decoration: none;
  color: #25d366; /* WhatsApp green */
  font-size: 18px;
  font-weight: bold;
}

.whatsapp-contact a:hover {
  text-decoration: underline;
}

.whatsapp-contact img#whatsapp-qr {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.whatsapp-contact img#whatsapp-qr:hover {
  transform: scale(1.05);
}



 
@media (max-width:768px){
 


  header {
    top: 0;
   
  }

  .desktop-menu{
    display: none;
  }
 

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    padding: 1.25rem;
    gap: 3.125rem;
    font-size: 1rem;
    height: 5rem;
    top: 0;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 10px; */
    background-color: white;
    transform: translateX(0%);
  }

  .menu-link[data-visible="false"] {
    display: none;
  }

  .hamburger i[data-visible="true"] {
    display: block;
  }

  .hamburger i[data-visible="false"] {
    display: none;
  }


  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #1f1f1f;
    width: 50px;
    height: 50px;
    right: 5%;
    border-radius: 50%;
    font-size: 2rem;
    top: 15px;
    z-index: 10;
  }

  
.logo{

  position: relative;
 top: -10px;
 height: 70px;
 max-width: 100px;
}


.logo img{

  height: 70px;
  max-width: 100px;
}


  .menu-link {
    position: relative;
    top: -48px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
   
  }


  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #000000;
  }

  

  .menu ul li {
   left:0;
   right: 0;
    list-style-type: none;
    padding: 0.5375rem 8.5rem;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid rgba(249, 248, 248, 0.3);
    background-color: white;
    /* background: linear-gradient(to bottom, transparent, #11e811); */
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }

  .menu ul li:hover {
    background-color: #11e811;
    color: #e64a19 !important;


  }

  .menu ul li a {
    text-align: center;
    color: #1f1f1f;
  }

  /* .menu li a:hover {
    color: #e64a19;
  } */


  .user-dash {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;

    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #sign-in {


    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
   background-color: #11e811;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .signIn:hover {
    color: #11e811;
    font-weight: bold;
  }

  .signUp {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;


    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

/* .user-dash{
  display: none;
  color: white;
  font-size: 16px;
  font-weight: 32px;
  cursor: pointer;
}

#sign-in {

 
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  background: linear-gradient(to top, #11e811, black);
border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signIn:hover {
  color: #11e811;
  font-weight: bold;
}

.signUp {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;

  background: linear-gradient(to bottom, #11e811, black);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dashcontainer{
  display: flex;
  flex-direction: column;


} */

.dashboard{
  position: relative;
  top:91px;
  display: flex;
  width: 100%;

  padding-top: 40px;
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
height: 100%;

}



.dashboard ul li{
 
list-style: none;
box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
width: 90%;
border-radius: 5px;

}


.dashboard ul li a{

  text-decoration: none;
  color: #1f1f1f;
  cursor: pointer;
}

.dashDisplay{

  position: absolute;
  top: 280px;
width: 100%;
display: flex;
flex-direction: column;

  left: 0;
 
}



 
.cour-best-seller {
  padding: 20px;
  width: 100%;
  height: 1205px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.tit-cou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
 
}
.tit-cou h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #11e811;
}
.tit-cou h1 {
  font-size: 32px;

  font-weight: 40px;
  font-weight: 800;
}
.tit-cou p {
  font-size: 20px;

  line-height: 32px;
  font-weight: 400;
}

.cour-boxses {
  
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.box-cou {
  width: 350px;
  height: 450.86px;
  /* height: 45%; */
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box-cou img {
  width: 100%;
  height: 256px;
  border: none;
  border-radius: 10px 10px 0px 0px;
}
.box-cou-texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 10px;
}

.categ-cour {
  /* width: 114.5px;
        height: 24px; */
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  background-color: #11e811;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
.t-c {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.lacgta {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: 11e811;
}

.footer-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  padding: 50px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #807f7f;
  color: white;
}

.footer-contents ul {
  display: flex;
  gap: 20px;
}

.footer-contents ul li {
  list-style-type: none;

  text-decoration: none;
}

.footer-contents ul li a {
  color: #d6d1d1;
}

.footer-contents ul li a:hover {
  font-weight: bold;
}


.ordercards{
 
  width: 85%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.whatsapp-contact{
  display: flex;
  flex-direction: column;
}

.whatsapp-contact img{
  width: 100%;
  margin: 0 auto;

}

.btn {
  background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding: 10px;
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid rgba(249, 248, 248, 0.3);
      text-align: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    }

}



@media screen and (min-width: 768px) and (max-width:1300px){

  .desktop-menu{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    position: fixed;

    top: 0;
  
    z-index: 1;
    
  }
  .navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    color: rgb(33, 32, 32);
    font-size: 1rem;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
  }
  
  ul li a:hover {
    color: rgb(53, 52, 52);
    font-size: 1rem;
    text-decoration: none;
    padding: 20px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  font-size: 10px;
  
   
    
  }
  .dashDisplay{
    position: absolute;
   
    left: 200px;
    display: flex;
   flex-wrap: wrap;
    gap: 30vh;
    padding: 10px;
    width: 90%;
  
    
}

.ordercards{
 
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.whatsapp-contact{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.table-student{
  width: 80%;

}
 

}


