*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #1f1f1f;

    /* background-color: black;
    color: white;  */
}
.container{
    width: 1280px;
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;

}

.navbar{
    display: flex;
  
    }

    ul li {
        list-style: none;
    }

    ul li a{
        color: rgb(214, 211, 211);
        font-size: 1rem;
        text-decoration: none;
        padding: 20px;
        font-weight: bold;
    }

    ul li a:hover{
        color: white;
        font-size: 1rem;
        text-decoration: none;
        padding: 20px;
    }

    .logo{
     position: relative;
       top: 55px;
    } 

    .logo img{
        
        font-size: 2rem;
        width: 200px;
    }

    .logo-Online{
        color: white;
    }

    .btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 20%;
    
       
    }

    #signIn{
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 30px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    #signIn:hover{
        color: #f3d03f;
        font-weight: bold;
    }

    #signUp{
        text-decoration: none;
        color: #1f1f1f;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 30px;
        background-color: #f3d03f;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        
    }

    #signUp:hover{
        background-color: rgba(255, 255, 0, 0.726);

    }
    .contents{
        position: relative;
        top: 70px;
       
    }

    .hero{
      
        width: 100%;
        height: 92vh;
   
    }
    .hero img{
       width: 100%;
       height: 92vh;
    }

    .over-hero{
        background: linear-gradient(to bottom, rgba(0, 0, 0.8), rgba(247, 243, 3, 0.5));
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
      justify-content: center;
        width: 100%;
        height: 92vh;
        position: absolute;
        top: 0px;

       
    }

   #getstarted-btn{
    text-decoration: none;
    color: #1f1f1f;
    background-color: #f3d03f;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;


   }
    .hero-contents{
        position: relative;
        text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 100px;
   
    }
 
   .hero-title{

    display: flex;
    gap: 10px;
  
        font-size: 4rem;
        font-weight: 800;
   }
   .hero-title #let{

    font-size: 4rem;
    font-weight: 800;
   }
   .hero-title #skilled{
    color: #f3d03f;
    font-size: 4rem;
    font-weight: 800;
   }  
    .hero-contents p{
        line-height: 30px;
        text-align: center;
        font-weight: 2rem;
   
        margin-bottom: 20px;
    } 

    
  .sect-languages{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 20px;

    } 
    .sec-1{
        padding: 20px;
        width: 100%;
        height: 100%;
        /* background-color: #1f1f1f; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: flex-start;
        border-radius: 10px;
    }
    .sec-1 h2{
        width: 592px;
        height: 80px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 800;
  
    }
    .sec-1{
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
   
    }
    .btn-sec-lan{
        /* width: 151.18px;
        height: 57.78px; */
        background-color: #f3d03f;
  
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        padding: 12px 20px;
        margin-top: 20px;
    }
    .buttons-sec{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }

    .sec-2{
      
        width: 100%;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 10px;
     
    }


    .icons{
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .icons .svg{
      max-width: 100%;
  
      font-size: 5rem;
      padding: 30px;
     

    }


    .cour-best-seller{
        width: 1280px;
        height: 1205.83px;
        /* margin-top: 100px; */
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: black; */
        align-items: center;
    }
    
    .tit-cou{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        gap: 20px;
        
        
    }
    .tit-cou h4{
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
     
    }
    .tit-cou h1{
        font-size: 32px;
 
        font-weight: 40px;
        font-weight: 800;
    }
    .tit-cou p{
        font-size: 20px;
 
        line-height: 32px;
        font-weight: 400;
    }
    
    
    .cour-boxses{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 50px;
        flex-wrap: wrap;
    }
    .box-cou{
        width: 333.03px;
        height: 450.86px;
        /* height: 45%; */
        border-radius: 10px;
        border: none;
        background-color: #a8a6a6;
        color: #333;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .box-cou img{
        width: 100%;
        height: 256px;
        border: none;
        border-radius: 10px 10px 0px 0px;
    }
    .box-cou-texts{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
        padding: 10px;
    }
    
    .categ-cour{
        /* width: 114.5px;
        height: 24px; */
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      
        background-color: #f3d03f;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: bold;
    }
    .t-c{
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        margin-bottom: 10px;
      
    }
    .lacgta{
        font-size: 18px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 20px;
       color: green;
    }
    
    /* Box addvaticement */
    .boxes-advtise{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    .box-adv{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 336px;
        height: 260px;
        border-radius: 10px;
        background-color: #ededec;
     
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .box-adv-cont{
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        padding-top: 20px;
        margin: 10px;
    }
    .box-adv-cont h3{
        width: 330px;
        height: 32px;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        /* padding-top: 20px;
        padding-bottom: 10px; */
   
    }
    .box-adv-cont p{
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        /* padding-top: 20px; */
        padding-bottom: 10px;
      
    }
    
    .box-adv svg{
        background-color: #f3d03f;
        position: absolute;
        top: -10px;
        left: 150px;
        right: 155px;
        width: 30px;
        height: 30px;
        padding: 3px;
        border-radius: 5px;
      
    }
    .advatisment{
        height: 900px;
    }
    

   

    
    #about{
       
        max-width: 100%;
        margin: 0 auto;
     
        margin-bottom: 100px;
        margin-top: 150px;
        padding-top: 100px;
   
        display: grid;
       

    }



    .aboutUs{
      
        line-height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
     width: 60%;
     margin: 0 auto;
     
    }

    #about-title{
    padding-top: 0;
        margin-bottom: 30px;
    }

    #about-intro{
        margin-bottom: 30px;
    }

    #about p{
        margin-bottom: 30px;
    }

    .about-goals{
        margin-bottom: 30px;
    }

    .about-image1{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .about-right-images{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .about-img{
     
      max-width: 100%;
    }

    #contact-section{
       
        padding-top: 100px;
              width: 1150px;
              margin: 0 auto;
              height: 140vh;
              margin-bottom: 200px;
          }

          #contact-section h1{
            padding-bottom: 50px;
            text-align: center;
            font-weight: bold;
          }
      
          .getIntouch{ 
             
               box-sizing: border-box;
              width: 1100px;
              height: 100vh;
              display: grid;
              grid-template-columns: repeat(3,1fr);
              grid-column: 1 / span 2;
              gap: 30px;
       
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          }
      
      
      
          .contactUs{
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
             
              width:500px;
            display: flex;
            flex-direction: column;
            line-height: 40px;
      
  
            padding: 30px;
              
          }
      
          .contact-form{
         
        
              display: flex;
              flex-direction: column;
             height: 100%;
             width: 100%;
             padding: 20px;
             gap: 30px;
            
           
          }
      
      
      
          .person-name{
              display: flex;
             gap: 30px;
      
          }
          .person-name input{
              padding: 10px 40px;
          }
          .person-contact{
              display: flex;
              gap: 30px;
          }
      
          .person-contact input{
              padding: 10px 40px;
          }
      
          .leaveMessage{
              display: flex;
              flex-direction: column;
              gap: 30px;
          }
      
          .leave{
              display: flex;
              flex-direction: column;
          }
      
          .leaveMessage input{
              padding: 10px 40px;
          }
          .message{
              display: flex;
              flex-direction: column;
          }
          #submit{
              border: none;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            
              font-size: 1.5rem;
              width: 50%;
              border-radius: 10px;
              padding: 10px 30px;
              cursor: pointer;
          }
      
          .footer-contents{
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin-top: 100px;
              padding: 50px 0;
             box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
              background-color: #807f7f;
              color: white;
          }
      
          .footer-contents ul {
              display: flex;
              gap: 20px;
          }
      
          .footer-contents ul li {
              list-style-type: none;
         
              text-decoration: none;
          }
      
          .footer-contents ul li a{
           color: #d6d1d1;
          }
          .footer-contents ul li a:hover {
             
              font-weight: bold;
          }
      
      
      
